[Unit]
Description=Start autossh
After=network.target netctl-auto@wlan0.service
 
[Service]
User=root
ExecStart=/bin/ssh -N -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -R 4321:localhost:22 autossh@hem.kento.se -p 22
RestartSec=30
Restart=always
StartLimitInterval=15
StartLimitBurst=5
 
[Install]
WantedBy=multi-user.target
